# modules/grub/mainmenu.cfg


# Loading the theme and fonts 
loadfont $prefix/themes/minegrub/Minecraft30.pf2
loadfont $prefix/themes/minegrub/Monocraft22.pf2
insmod png
set theme=$prefix/themes/minegrub/theme.txt
export theme

set timeout_style=menu
set timeout=10

# Boot entries
menuentry "Singleplayer" {
    configfile $prefix/worlds.cfg
}

menuentry "Checkpoints" {
    configfile $prefix/generations.cfg
}

menuentry "UEFI Realm" $menuentry_id_option 'uefi-firmware' {
    fwsetup
}
